<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Детали товара - {{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_detail.css') }}">
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Цена:</strong> {{ product.price }} ₽/кг</p>
    <p><strong>Количество:</strong> {{ product.quantity }} кг</p>

    {% if session.get('user_id') %}
    <a href="{{ url_for('main.edit_product_form', product_id=product.id) }}" class="btn btn-edit">Редактировать</a>
    {% else %}
    <a href="{{ url_for('main.product_detail', product_id=product.id) }}" class="btn btn-edit" onclick="alert('Вы не можете взаимодействовать с товаром без авторизации...');">Редактировать</a>
    {% endif %}

    <form method="POST" action="{{ url_for('main.delete_product') }}" style="display:inline;">
    <input type="hidden" name="delete_id" value="{{ product.id }}">
    {% if session.get('user_id') %}
        <button type="submit" onclick="return confirm('Удалить товар?')">Удалить</button>
    {% else %}
        <button type="button" onclick="alert('Вы не можете взаимодействовать с товаром без авторизации...')">Удалить</button>
    {% endif %}
    </form>
    
    <br><a href="{{ url_for('main.index') }}" class="btn btn-home">На главную</a><br>
    
</body>
</html>